{
  "tabWidth": 2,
  "useTabs": false,
  "insertSpaces": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": true
}
